.btn-default
 
{
 
background-color: #043d6e;
 
color:#f7bc00 !important;
 
border-color: #f7bc00;
 
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
 
 
 
background-color: #f7bc00;
 
color:#043d6e !important;
 
border-color: #f7bc00;
 
}