{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" href="{% static 'blog/assets/img/icono_thumb.png' %}">
        <title>{{ nombre_sitio }}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'blog/css/buttons.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/heading.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/body.css' %}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
	<body>
		{% block contenedor %} {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="{% static 'blog/js/scripts.js' %}"></script>
        <script src="{% static 'blog/js/jquery.cookie.min.js' %}"></script>
        <script src="{% static 'blog/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'blog/js/ajax.js' %}"></script>

        {% block scripts %}{% endblock %}
        
	</body>
</html>