{% extends "plantilla.html" %}
{% load static %}
{% block contenedor2 %}

	<section class="page-section" style="background-color:#011251!important" id="contact">
	    <div class="container">
	        <!-- Contact Section Heading-->
	        <div class="text-center" style="margin: 150px 0px 0px 0px !important;">
	            <h2 class="page-section-heading text-white d-inline-block mb-0">Contacto</h2>
	        </div>
	        <!-- Icon Divider-->
	        <div class="divider-custom divider-light">
	            <div class="divider-custom-line"></div>
	            <div class="divider-custom-icon"><i class="far fa-comment"></i></div>
	            <div class="divider-custom-line"></div>
	        </div>
	        <!-- Contact Section Content-->
	        <div class="row justify-content-center">
	            <div class="col-lg-4">
	                <div class="d-flex flex-column align-items-center">
	                    <div class="icon-contact bg-light mb-3"><i class="far fa-envelope" style="color: #000000 !important"></i></div>
	                    <div class="text-white">Email</div><a class="lead font-weight-bold text-white" href="mailto:peliculasonline@example.com">peliculasonline@example.com</a>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

{% endblock %}